<!DOCTYPE html>
<html>
  <head>
    <link href="css/main.css" rel="stylesheet" />
    <title>Bible LLM App</title>
  </head>
  <body class="index">
    <header>
        <div class="container">
        <a href="/" class="logo" title="American Bible Society">ABS</a>
        <div class="crumbs">
          <div id="breadcrumbs">
            <ul>
              <li><%= abbr %></li>
            </ul>
          </div>
        </div>
        <h1>
          <a class="flex" href="/">
            <span>LLM Bible Reference</span>
          </a>
        </h1>
      </div>
    </header>
    <div class="subheader">
      <div class="container flex">
        <div class="subheadings">
          <h2>Viewing:</h2>
          <h3 id="viewing"><%= abbr %></h3>
        </div>
      </div>
    </div>
    <main class="container">
      <h4 class="list-heading"><span>Select a Book</span></h4>
      <div id="book-list" class="list-container">
        <ul>
          <% bookList.forEach(book => { %>
            <li class="bible">
              <a href="/chapters?version=<%= version %>&abbr=<%= abbr %>&book=<%= book.id%>"><%= book.name %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
