<!DOCTYPE html>
<html>
  <head>
    <link href="css/main.css" rel="stylesheet" />
    <title>Bible LLM App</title>
  </head>
  <body class="index">
    <header>
      <div class="container">
        <a href="/" class="logo" title="American Bible Society">ABS</a>
        <div class="crumbs">
          <div id="breadcrumbs">
            <ul>
              <li><a href="/book?version=<%= version %>&abbr=<%= abbr %>"><%= abbr %></a></li>
              <li><a href="/chapter?version=<%= version %>&abbr=<%= abbr %>&book=<%= book %>"><%= book %></a></li>
              <li><a href="/verse?version=<%= version%>&abbr=<%= abbr %>&chapter=<%= originalVerse.chapterId %>"><%= chapter %></a></li>
              <li><%= chapter %></li>
            </ul>
          </div>
        </div>
        <h1>
          <a class="flex" href="/">
            <span>LLM Bible Reference</span>
          </a>
        </h1>
      </div>
    </header>
    <div class="subheader">
      <div class="container flex">
        <div class="subheadings">
          <h2>Viewing:</h2>
          <h3 id="viewing"><span id="verse">
            <%= translatedVerse.reference %>
          </span></h3>
        </div>
      </div>
    </div>
    <main class="container">
      <h3>Translated Version:</h3>
      <div id="verse-content" class="verse-container">
        <p><%= translatedVerse.content %></p>
      </div>
      <h3>Original Version:</h3>
      <div id="verse-content" class="verse-container">
        <p><%= originalVerse.content %></p>
      </div>
      <h3>LLM Insights:</h3>
      <div id="verse-content" class="verse-container">
        <% llmTextParagraphs.forEach(paragraph => { %>
          <p><%= paragraph %></p>
        <% }) %>
      </div>
    </main>
  </body>
</html>
